<div class="mx-auto mt-7 flex max-w-fit flex-col">
    <label for="timeLog" class="mb-1">Zeitlog</label>
    <textarea
        id="timeLog"
        class="border-2 border-slate-300 bg-slate-100 p-2"
        cols="100"
        rows="15"
        [(ngModel)]="rawTimeLog"
        (input)="updateResult()"
    ></textarea>
    <div class="my-2">
        <input
            disabled
            id="summarizeSameIssue"
            class="mr-2 h-4 w-4"
            type="checkbox"
            [(ngModel)]="summarizeForSameJiraIssue"
            (change)="updateResult()"
        />
        <label for="summarizeSameIssue">Gleiche Vorgänge zusammenfassen. (noch nicht implementiert)</label>
    </div>
    <div class="mt-2 self-center">
        @if (result.length) {
            <table aria-label="Result" class="border-y-2 border-y-gray-500">
                <thead>
                    <tr>
                        <th>Eingetragen</th>
                        <th>Schlüssel</th>
                        <th>Dauer</th>
                        <th>Beschreibung</th>
                    </tr>
                </thead>
                <tbody>
                    @for (element of result; track $index) {
                        <tr
                            [ngClass]="{
                                '!h-8 align-bottom': $first,
                                'h-8 align-top': $last,
                                'text-gray-500 line-through': element.checked
                            }"
                        >
                            <td class="text-center">
                                @if (element.key) {
                                    <input type="checkbox" class="h-4 w-4" [(ngModel)]="element.checked" />
                                }
                            </td>
                            <td>{{ element.key }}</td>
                            <td>{{ element.formattedDuration }}</td>
                            <td>{{ element.description }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        } @else if (errorMessage) {
            <span class="font-bold text-red-600">{{ errorMessage }}</span>
        } @else {
            <span>Kein Zeitlog vorhanden.</span>
        }
    </div>
</div>
