<div id="main-container">
    <label for="timeLog">Zeitlog</label>
    <textarea id="timeLog" cols="100" rows="15" [(ngModel)]="rawTimeLog" (input)="updateResult()"></textarea>
    <div>
        <input
            id="summarizeSameIssue"
            type="checkbox"
            [(ngModel)]="summarizeForSameJiraIssue"
            (change)="updateResult()"
        />
        <label for="summarizeSameIssue">Gleiche Vorgänge zusammenfassen.</label>
    </div>
    <div id="result-container">
        @if (result.length) {
            <table aria-label="Result">
                <thead>
                    <tr>
                        <th>Eingetragen</th>
                        <th>Schlüssel</th>
                        <th>Dauer</th>
                        <th>Beschreibung</th>
                    </tr>
                </thead>
                <tbody>
                    @for (element of result; track $index) {
                        <tr [class.row-checked]="element.checked">
                            <td>
                                @if (element.key) {
                                    <input type="checkbox" [(ngModel)]="element.checked" />
                                }
                            </td>
                            <td>{{ element.key }}</td>
                            <td>{{ element.formattedDuration }}</td>
                            <td>{{ element.description }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        } @else if (errorMessage) {
            <span class="error-message">{{ errorMessage }}</span>
        } @else {
            <span>Kein Zeitlog vorhanden.</span>
        }
    </div>
</div>
