/* You can add global styles to this file, and also import other style files */

/* For debugging. */
/* * {
    outline: 2px dotted #ff000040;
} */

body {
    background-color: #fafafa;
    font-family: system-ui, sans-serif;
}
